:root{

}
body{
   margin-bottom: 0;
}
.white-font{
    color:azure
}

h2{
    font-weight:300;
}

h2.center{
    text-align: center;
    text-transform: uppercase;

}

#logo{
    font-size: 30px;
}
.container{
    margin-top: 10px;
}
 article {
     height: 100%;
     
 }

.left-padding{
    padding-left: 20%;
}

h3:first-child{
    height: 25%;
    display: flex;
    align-items: center;
    text-align: center;
}

article p{
    text-align: justify;
}

footer p.white-font{
    text-transform: uppercase;
    font-size: 12px;
    text-align: right;
    padding-right: 10px;
}

@media only screen and (max-width: 1196px){ 
    #logo {
        font-size:25px;
    }
    .left-padding{
        padding-left: 15%;
    }

}


@media only screen and (max-width: 991px){ 
    .left-padding{
        padding-left: 5%;
    }
    h3:first-child{
        height: 26%;
    }
}


@media only screen and (max-width: 572px){ 
    #logo {
        font-size:18px;
    }
    .hero{
        margin-top: 30px;
    }
   
    article.one{
        margin-top: -15px;
    }
    h3.left-padding{
        padding-left: 0;
        /* text-align: center; */
        justify-content: center;
        margin-top: 0px;
    }
    article.two > h3{
        margin-top: 30px;        
    }
    h3:first-child{
        height: 26%;
    }
}
